<div mat-dialog-title>Changer le mot de passe</div>
<div mat-dialog-content>
  <form [formGroup]="fGroup">
    <mat-form-field class="full-width">
      <input type="password" matInput placeholder="Mot de passe actuel" formControlName="oldPasswd">
      <mat-error *ngIf="fGroup.get('oldPasswd').hasError('required')">
        Le champ ne doit pas être vide.
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input type="password" matInput placeholder="Nouveau mot de passe" formControlName="newPasswd">
      <mat-error *ngIf="fGroup.get('newPasswd').hasError('required')">
        Le champ ne doit pas être vide.
      </mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Annuler</button>
  <span class="fill-space"></span>
  <button mat-button type="submit" [mat-dialog-close]="result" [disabled]="fGroup.invalid">Ok</button>
</div>
