<div class="fullscreen-container">
  <div class="back-button">
    <a mat-raised-button color="accent" href="/exemple-web">Go back to dashboard</a>
  </div>
  <div class="message">
    <h2>This screen is designed for a 1366 x 768 screen resolution fixed size.</h2>
    <span>Please resize your browser window to fit this resolution.</span>
  </div>
  
  <div  *ngIf="runtime.production">
    <div class="warning" *ngIf="alarm()">
      <mat-icon>warning</mat-icon> flow alarm !
    </div>
    <div class="warning" *ngIf="danger()">
      <mat-icon>build</mat-icon> flow fault !
    </div>

    <mat-card class="content-recipe">
      <mat-card-title>Production details</mat-card-title>
      <mat-card-content>
        <mat-list>
          <mat-list-item><strong>Recipe name:</strong><span class="fill-space"></span>{{runtime.production.name}}</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><strong>Lot number:</strong><span class="fill-space"></span>{{runtime.production.lotnr}}</mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>

    <mat-card class="content-status">
      <mat-card-title>Production details</mat-card-title>
      <mat-card-content>
        <mat-list>
          <mat-list-item>
            <strong>Production status:</strong><span class="fill-space"></span>
            <button mat-button>
              <mat-icon *ngIf="runtime.production.status.production === 'in operation'" color='primary'>directions_run</mat-icon>
              <mat-icon *ngIf="runtime.production.status.production !== 'in operation'" color='warn'>pause</mat-icon>
              <span color="">{{runtime.production.status.production}}</span>
            </button>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <strong>Fabrication status:</strong><span class="fill-space"></span>
            <button mat-button>
              <mat-icon *ngIf="runtime.production.status.fabrication === 'in operation'" color='primary'>directions_run</mat-icon>
              <mat-icon *ngIf="runtime.production.status.fabrication !== 'in operation'" color='warn'>pause</mat-icon>
              <span color="">{{runtime.production.status.production}}</span>
            </button>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>

    <!-- components cards -->
    <mat-card *ngFor="let comp of runtime.production.components" [class]="getClassName(comp)">
      <mat-card-title>{{comp.name}}</mat-card-title>
      <mat-card-content>
        <mat-list>
          <mat-list-item>
            <strong>Flow</strong><span class="fill-space"></span>
            {{comp.runtime.flow.value}} {{comp.runtime.flow.unit}}
          </mat-list-item>
          <span *ngFor="let cust of comp.runtime.custom">
            <mat-divider></mat-divider>
            <mat-list-item><strong>{{cust.name}}</strong><span class="fill-space"></span>{{cust.value}} {{cust.unit}}</mat-list-item>
          </span>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>