<div [class]="( client === 'web' ) ? 'no-full-screen-width' : ''">
  <!-- <button mat-button (click)="toggleInterval()">Toggle interval : {{ interval_status }}</button> -->
  <div class="filter-card">
    <mat-card>
      <mat-card-title>Filtres</mat-card-title>
      <mat-card-content>
        <div class="filter-form-container">
          <mat-form-field>
            <input matInput [matDatepicker]="dpStart" [(ngModel)]="tmpFilter.datedebut">
            <mat-datepicker-toggle matSuffix [for]="dpStart"></mat-datepicker-toggle>
            <mat-datepicker #dpStart></mat-datepicker>
            <mat-label>Date de début</mat-label>
          </mat-form-field>
          <mat-form-field>
            <input matInput [matDatepicker]="dpEnd" [(ngModel)]="tmpFilter.datefin">
            <mat-datepicker-toggle matSuffix [for]="dpEnd"></mat-datepicker-toggle>
            <mat-datepicker #dpEnd></mat-datepicker>
            <mat-label>Date de fin</mat-label>
          </mat-form-field>
          <mat-form-field>
            <mat-select [(value)]="tmpFilter.process" >
              <mat-option>Aucun</mat-option>
              <mat-option *ngFor="let fil of ProcessList" [value]="fil.filter">{{fil.name}}</mat-option>
            </mat-select>
            <mat-label>Process</mat-label>
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-button (click)="resetFilter()">Reset filters</button>
        <button mat-button (click)="getData()">Refresh</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <!-- <mat-divider></mat-divider> -->
  <div class="table-container" *ngIf="events.length > 0">
    <table mat-table [dataSource]="events" *ngIf="client === 'web' || client === 'tablet'">
      
      <!-- evType Column -->
      <ng-container matColumnDef="evType">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let element"> {{ element.evType }} </td>
      </ng-container>
  
      <!-- evTime Column -->
      <ng-container matColumnDef="evTime">
        <th mat-header-cell *matHeaderCellDef> Horodatage </th>
        <td mat-cell *matCellDef="let element"> {{ getUserTimestamp(element.evTime) }} </td>
      </ng-container>
  
      <!-- evInfo Column -->
      <ng-container matColumnDef="evInfo">
        <th mat-header-cell *matHeaderCellDef> Info </th>
        <td mat-cell *matCellDef="let element"> {{element.evInfo}} </td>
      </ng-container>
  
      <!-- evUserFull Column -->
      <ng-container matColumnDef="evUserFull">
        <th mat-header-cell *matHeaderCellDef> Utilisateur </th>
        <td mat-cell *matCellDef="let element"> {{ element.evUserFull }} </td>
      </ng-container>
      
      <!-- evStation Column -->
      <ng-container matColumnDef="evStation">
        <th mat-header-cell *matHeaderCellDef> Poste </th>
        <td mat-cell *matCellDef="let element"> {{ element.evStation }} </td>
      </ng-container>
  
      <!-- evMessage Column -->
      <ng-container matColumnDef="evMessage">
        <th mat-header-cell *matHeaderCellDef> Message </th>
        <td mat-cell *matCellDef="let element"> {{ element.evMessage }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div *ngIf="events.length > 0 && client === 'handset'">
    <mat-card *ngFor="let event of events">
      <mat-card-subtitle>{{ getUserTimestamp(event.evTime) }}</mat-card-subtitle>
      <mat-card-content>{{ event.evMessage }}</mat-card-content>
    </mat-card>
  </div>
  <!-- <button class="scroll-to-top" mat-fab color="primary" (click)="resetScroll()" *ngIf="displayScrollToTopButton()"><mat-icon>arrow-up</mat-icon></button> -->
</div>