@import '~@angular/material/theming';
@mixin dashboard-component-theme($theme) {
    // Extract whichever individual palettes you need from the theme.
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    
    .primary-color {
      background-color: mat-color($primary);
    }
    .accent-color {
      background-color: mat-color($accent);
      opacity: 0.6 !important; 
    }
    .warn-color {
      background-color: mat-color($warn);
      opacity: 0.6 !important; 
    }
}

.dashboard-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.dashboard-content {
  width: 350px;
}

.dashboard-component {
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
}

// .dashboard-content-fullscreen {
//   width: 95%;
//   margin: 0;
//   flex: 0 0 auto;
// }
