<mat-card *ngIf="runtime.production">
    <mat-card-title>Production Dashboard</mat-card-title>
    <mat-card-content fxLayout="column wrap" fxLayoutGap="5px" fxLayoutAlign="start space-around">
      <div fxFlex="1 1 100%" fxLayout="row wrap" fxLayoutAlign="center start" fxLayoutGap="5px">
        <mat-card fxFlex="1 1 45%" fxFlex.lt-sm="1 1 100%">
          <mat-card-title>Production details</mat-card-title>
          <mat-card-content>
            <mat-list>
              <mat-list-item><strong>Recipe name:</strong><span class="fill-space"></span>{{runtime.production.name}}</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item><strong>Lot number:</strong><span class="fill-space"></span>{{runtime.production.lotnr}}</mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
        <mat-card fxFlex="1 1 45%" fxFlex.lt-sm="1 1 100%">
          <mat-card-title>Production status</mat-card-title>
          <mat-card-content>
            <mat-list>
              <mat-list-item>
                <strong>Production status:</strong><span class="fill-space"></span>
                <button mat-button>
                  <mat-icon *ngIf="runtime.production.status.production === 'in operation'" color='primary'>directions_run</mat-icon>
                  <mat-icon *ngIf="runtime.production.status.production !== 'in operation'" color='warn'>pause</mat-icon>
                  <span color="">{{runtime.production.status.production}}</span>
                </button>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                <strong>Fabrication status:</strong><span class="fill-space"></span>
                <button mat-button>
                  <mat-icon *ngIf="runtime.production.status.fabrication === 'in operation'" color='primary'>directions_run</mat-icon>
                  <mat-icon *ngIf="runtime.production.status.fabrication !== 'in operation'" color='warn'>pause</mat-icon>
                  <span color="">{{runtime.production.status.production}}</span>
                </button>
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>
        <!-- components cards -->
      <div fxFlex="1 0 100%" fxLayout="row wrap" fxLayoutAlign="center start">
        <app-component *ngFor="let comp of runtime.production.components" [component]="comp" fxFlex="1 1 47%" fxFlex.lt-sm="1 1 100%" fxFlex.gt-md="1 1 23%">
        </app-component>
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <mat-form-field>
        <input matInput [(ngModel)]="intervalTime" (change)="intervalTimeChange()">
        <mat-label>Refresh period (ms)</mat-label>
      </mat-form-field>
    </mat-card-actions>
</mat-card>
