<mat-card *ngIf="runtime.production">
  <mat-card-title>Production Dashboard</mat-card-title>
  <mat-card-content>
    <div class="dashboard-container">
      <mat-card class="dashboard-content">
        <mat-card-title>Production details</mat-card-title>
        <mat-card-content>
          <mat-list>
            <mat-list-item><strong>Recipe name:</strong><span class="fill-space"></span>{{runtime.production.name}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><strong>Lot number:</strong><span class="fill-space"></span>{{runtime.production.lotnr}}</mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
      <mat-card class="dashboard-content">
        <mat-card-title>Production details</mat-card-title>
        <mat-card-content>
          <mat-list>
            <mat-list-item>
              <strong>Production status:</strong><span class="fill-space"></span>
              <button mat-button>
                <mat-icon *ngIf="runtime.production.status.production === 'in operation'" color='primary'>directions_run</mat-icon>
                <mat-icon *ngIf="runtime.production.status.production !== 'in operation'" color='warn'>pause</mat-icon>
                <span color="">{{runtime.production.status.production}}</span>
              </button>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <strong>Fabrication status:</strong><span class="fill-space"></span>
              <button mat-button>
                <mat-icon *ngIf="runtime.production.status.fabrication === 'in operation'" color='primary'>directions_run</mat-icon>
                <mat-icon *ngIf="runtime.production.status.fabrication !== 'in operation'" color='warn'>pause</mat-icon>
                <span color="">{{runtime.production.status.production}}</span>
              </button>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
      <!-- components cards -->
    <div class="dashboard-container dashboard-component">
      <mat-card *ngFor="let comp of runtime.production.components" class="dashboard-content">
        <mat-card-title>{{comp.name}}</mat-card-title>
        <mat-card-content>
          <mat-list>
            <mat-list-item><strong>Flow:</strong><span class="fill-space"></span>{{comp.runtime.flow.value}} {{comp.runtime.flow.unit}}</mat-list-item>
            <span *ngFor="let cust of comp.runtime.custom">
              <mat-divider></mat-divider>
              <mat-list-item><strong>{{cust.name}}</strong><span class="fill-space"></span>{{cust.value}} {{cust.unit}}</mat-list-item>
            </span>
          </mat-list>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button *ngIf="!(comp.runtime.flow.alarms.low || comp.runtime.flow.alarms.high || comp.runtime.flow.fault.low || comp.runtime.flow.high)" color="primary">
            <mat-icon>check</mat-icon> No alarm, no fault.
          </button>
          <button mat-button *ngIf="(comp.runtime.flow.alarms.low || comp.runtime.flow.alarms.high) && !(comp.runtime.flow.fault.low || comp.runtime.flow.high)" color="accent">
            <mat-icon>warning</mat-icon> {{(comp.runtime.flow.alarms.low) ? 'low level' : 'high level'}} flow alarm
          </button>
          <button mat-button *ngIf="comp.runtime.flow.fault.low || comp.runtime.flow.high" color="warn">
            <mat-icon>build</mat-icon> {{(comp.runtime.flow.fault.low) ? 'low level' : 'high level'}} flow fault
          </button>
        </mat-card-actions>
      </mat-card>
      <!-- components cards -->
  </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <mat-form-field>
      <input matInput [(ngModel)]="intervalTime" (change)="intervalTimeChange()">
      <mat-label>Refresh period (ms)</mat-label>
    </mat-form-field>
  </mat-card-actions>
</mat-card>
