.mat-row > .mat-column-evTime, .mat-row > .mat-column-evStation, .mat-row > .mat-column-evUserFull {
  flex: 0 0 auto;
  margin-right: 25px;
}
.mat-row > .mat-column-evMessage {
  flex: 1 1 auto;
}
.mat-header-row > .mat-column-evTime, .mat-header-row > .mat-column-evStation, .mat-header-row > .mat-column-evUserFull {
  flex: 0 0 140px;
  margin-right: 25px;
}
.mat-header-row > .mat-column-evMessage {
  flex: 1 1 auto;
}
