<mat-toolbar>
  <span>Recipe editor</span>
  <span class="fill-space"></span>
  <span *ngIf="displayMode === 0">
      <button mat-button color="primary" (click)="refreshDatas()">
        <mat-icon>refresh</mat-icon> Actualiser
      </button>
    <button mat-button color="primary" (click)="createRecipe()">
      <mat-icon>add</mat-icon> Create a new recipe
    </button>
  </span>
  <span *ngIf="displayMode >= 1 && displayMode <= 2">
    <button mat-raised-button color="primary" (click)="editRecipe(editedRecipe)">
      <mat-icon>view_list</mat-icon> Save and go back to recipe list
    </button>
  </span>
</mat-toolbar>
<mat-card>
  <!-- RECIPE CARDS -->
  <mat-card-content *ngIf="runtime && displayMode === 0" class="recipe-container">
    <mat-card *ngFor="let recipe of runtime" class="recipe-card">
      <mat-toolbar>
        <mat-toolbar-row>
          <button mat-icon-button *ngIf="client === 'handset'" [matMenuTriggerFor]="recipeEditionMenu">
            <mat-icon>menu</mat-icon>
          </button>
          <mat-menu #recipeEditionMenu="matMenu">
            <button mat-menu-item (click)="actionEditRecipe(recipe)">Edit recipe</button>
            <button mat-menu-item (click)="deleteRecipe(recipe)">Delete recipe</button>
          </mat-menu>
          <span *ngIf="client !== 'handset'">Material #{{recipe.material.matnr}} - {{recipe.name}}</span>
          <span *ngIf="client === 'handset'">Material #{{recipe.material.matnr}}</span>
          <span class="fill-space"></span>
          <span *ngIf="client === 'tablet' || client === 'web'">
            <button mat-button color="primary" (click)="actionEditRecipe(recipe)">
              <mat-icon>edit</mat-icon> Edit recipe
            </button>
            <button mat-button color="warn" (click)="deleteRecipe(recipe)">
              <mat-icon>delete</mat-icon> Delete recipe
            </button>
          </span>
        </mat-toolbar-row>
        <mat-toolbar-row *ngIf="client === 'handset'">
          <span class="mat-subheading-2">{{recipe.name}}</span>
        </mat-toolbar-row>
        <mat-toolbar-row>
          <span class="mat-subheading-1">{{recipe.description}}</span>
        </mat-toolbar-row>
      </mat-toolbar>
      <mat-card-content class="component-container">
        <mat-card *ngFor="let component of recipe.recipeComponents" class="component-card">
          <mat-card-title>Material #{{component.material.matnr}}<br>{{component.material.name}}</mat-card-title>
          <mat-card-subtitle>{{component.material.description}}</mat-card-subtitle>
          <mat-card-content>
            <mat-list>
              <mat-list-item>
                Quantity
                <span class="fill-space"></span>
                {{component.quantity}} {{component.unit}}
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                Order
                <span class="fill-space"></span>
                {{component.order}}
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
  <!-- RECIPE CARDS -->

  <!-- RECIPE EDIT -->
  <mat-card-content *ngIf="runtime && (displayMode >= 1 && displayMode <= 2)">
    <!-- GENERAL INFORMATIONS -->
    <mat-card class="edit-general">
      <mat-toolbar>
        <span>General informations</span>
      </mat-toolbar>
      <mat-card-content class="edit-general-form">
        <mat-card>
          <mat-card-title>
            <span class="mat-subheading-2">Recipe Name</span>
          </mat-card-title>
          <mat-card-content>
            <!-- <mat-form-field style="width: 100%;">
              <input matInput [(ngModel)]="editedRecipe.name">
            </mat-form-field> -->
          </mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-title>
            <span class="mat-subheading-2">Description</span>
          </mat-card-title>
          <mat-card-content>
            <!-- <mat-form-field style="width: 100%;"> -->
              <textarea matInput
                [(ngModel)]="editedRecipe.description">{{editedRecipe.description}}</textarea>
            <!-- </mat-form-field> -->
          </mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-title>
            <span class="mat-subheading-2">Material number</span>
          </mat-card-title>
          <mat-card-content>
            <app-material-selector
              [(selected)]="editedRecipe.material"
              [typeName]="'SF1'"></app-material-selector>
          </mat-card-content>
        </mat-card>
        
      </mat-card-content>
    </mat-card>
    <!-- GENERAL INFORMATIONS -->

    <!-- TAB GROUP -->
    <mat-card class="edit-components">
      <mat-tab-group>
        <!-- COMPONENT LIST EDITOR -->
        <mat-tab label="Component list">
          <!-- COMPONENT LIST -->
          <mat-card-content class="edit-component-list" *ngFor="let component of editedRecipe.recipeComponents; index as key">
            <mat-card class="edit-component-card">
              <mat-card-title>
                <span class="mat-subheading-2">Material number</span>
              </mat-card-title>
              <mat-card-content>
                <app-material-selector
                  [(selected)]="component.material"
                  [typeName]="'RM1'"></app-material-selector>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button (click)="deleteComponent(component, key)">
                  <mat-icon>delete</mat-icon> Delete component
                </button>
              </mat-card-actions>
            </mat-card>
            <mat-card class="edit-component-card">
              <mat-card-title>
                <span class="mat-subheading-2">Quantity</span>
              </mat-card-title>
              <mat-card-content>
                <!-- <mat-form-field style="width: 100%;"> -->
                  <input matInput [(ngModel)]="component.quantity">
                <!-- </mat-form-field> -->
              </mat-card-content>
            </mat-card>
            <mat-card class="edit-component-card">
              <mat-card-title>
                <span class="mat-subheading-2">Unit</span>
              </mat-card-title>
              <mat-card-content>
                <!-- <mat-form-field style="width: 100%;"> -->
                  <input matInput [(ngModel)]="component.unit">
                <!-- </mat-form-field> -->
              </mat-card-content>
            </mat-card>
            <mat-card class="edit-component-card">
              <mat-card-title>
                <span class="mat-subheading-2">Order</span>
              </mat-card-title>
              <mat-card-content>
                <!-- <mat-form-field style="width: 100%;"> -->
                  <input matInput [(ngModel)]="component.order">
                <!-- </mat-form-field> -->
              </mat-card-content>
            </mat-card>
          </mat-card-content>
          <!-- COMPONENT LIST -->
          <!-- NEW COMPONENT -->
          <mat-card-content class="edit-component-list">
            <mat-toolbar>
              <span>New component</span>
              <span class="fill-space"></span>
              <button mat-button color="primary" (click)="addComponent()">
                <mat-icon>add</mat-icon> Add new component to recipe
              </button>
            </mat-toolbar>
            <mat-card class="edit-component-card">
              <mat-card-title>
                <span class="mat-subheading-2">Material number</span>
              </mat-card-title>
              <mat-card-content>
                <app-material-selector
                  [(selected)]="newComponent.material"
                  [typeName]="'RM1'"></app-material-selector>
              </mat-card-content>
            </mat-card>
            <mat-card class="edit-component-card">
              <mat-card-title>
                <span class="mat-subheading-2">Quantity</span>
              </mat-card-title>
              <mat-card-content>
                <!-- <mat-form-field style="width: 100%;"> -->
                  <input matInput [(ngModel)]="newComponent.quantity">
                <!-- </mat-form-field> -->
              </mat-card-content>
            </mat-card>
            <mat-card class="edit-component-card">
              <mat-card-title>
                <span class="mat-subheading-2">Unit</span>
              </mat-card-title>
              <mat-card-content>
                <!-- <mat-form-field style="width: 100%;"> -->
                  <input matInput [(ngModel)]="newComponent.unit">
                <!-- </mat-form-field> -->
              </mat-card-content>
            </mat-card>
            <mat-card class="edit-component-card">
              <mat-card-title>
                <span class="mat-subheading-2">Order</span>
              </mat-card-title>
              <mat-card-content>
                <!-- <mat-form-field style="width: 100%;"> -->
                  <input matInput [(ngModel)]="newComponent.order">
                <!-- </mat-form-field> -->
              </mat-card-content>
            </mat-card>
          </mat-card-content>
          <!-- NEW COMPONENT -->
        </mat-tab>
        <!-- COMPONENT LIST EDITOR -->
      </mat-tab-group>
    </mat-card>
    <!-- TAB GROUP -->
  </mat-card-content>
  <!-- RECIPE EDIT -->
</mat-card>