<div [class]="( client === 'web' ) ? 'no-full-screen-width' : ''">
  <div class="filter-card" *ngIf="client === 'web' || client === 'tablet'">
    <mat-card>
      <mat-card-title>Filtres</mat-card-title>
      <mat-card-content>
        <div class="filter-form-container">
          <mat-form-field>
            <input matInput [matDatepicker]="dpDate" [(ngModel)]="tmpFilter.showdate">
            <mat-datepicker-toggle matSuffix [for]="dpDate"></mat-datepicker-toggle>
            <mat-datepicker #dpDate></mat-datepicker>
            <mat-label>Date</mat-label>
          </mat-form-field>
          <mat-form-field>
            <mat-select [(value)]="tmpFilter.process" >
              <mat-option [value]="'BD'"> Lignes B et D </mat-option>
              <mat-option [value]="'C'"> Lignes C </mat-option>
            </mat-select>
            <mat-label>Process</mat-label>
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-button (click)="resetFilter()">Reset filters</button>
        <button mat-button (click)="getData()">Refresh</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="canvas-container">
    <div class="info-card">
      <mat-card>
        <button mat-icon-button (click)="dayBefore()"><mat-icon>keyboard_arrow_left</mat-icon></button>
        <button mat-icon-button (click)="dayAfter()"><mat-icon>keyboard_arrow_right</mat-icon></button>
        Date : {{ getUserDisplayedDate() }} - Ligne : {{ tmpFilter.process }}
      </mat-card>
    </div>
    <div class="canvas">
      <canvas baseChart width="1200" height="600"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)">
      </canvas>
    </div>
  </div>
</div>