.recipe-container {
  display: flex;
  max-width: 1500px;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-left: auto;
  margin-right: auto;
}
.recipe-card {
  // min-width: 300px;
  // max-width: 450px;
  margin: 5px;
  flex: 0 0 auto;
}
.component-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // align-content: flex-start;
}
.component-card {
  min-width: 300px;
  max-width: 450px;
  margin: 5px;
  flex: 0 0 auto;
}